.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 120px;

    position: absolute;
    width: 100%;
    height: 53px;
    left: 20px;
    top: 24px;
}

.navbar li
{
    display: none;
}