h1, h2, h3, h4, span, p
{
    line-height: 1.5;
}
html
{
    font-family: 'Open Sans';
}
p
{
    margin: 0;
}
.index-figure > h3, h2
{
    font-size: 1.5em;
}
.orange
{
    color: #EB6C27;
    font-size: 1em;
}
.presvedcit-se p
{
    color: white;
    font-weight: 700;
    font-size: 1.25em;
    margin: 0;
}
.container--padding > p
{
    margin-bottom: 3em;
}
.name__container > h1, span
{
    font-weight: 700;
    font-size: 1.75em;
}
.presvedcit-se__content > p
{
    margin: 1em 0em;
}
.index-footer > p:nth-child(2)
{
    margin: 1em 0em;
    color: white;
    font-size: 1em;
    text-align: center;
}
.footer__p
{
    text-align: center;
    margin: 0;
    margin-top: 2em;
    font-size: 1.25em;
    color: white;
    font-weight: 700;
}
.index-footer > a
{
    margin-bottom: 2em;
    flex-shrink: 1;
}
.information-text h1
{
    text-align: left;
    font-size: 2.5em;
}
.index-reference p
{
    margin-bottom: 3em;
}
.ref__description__header
{
    color: black;
    font-size: 1.5em;
    margin: 0.5em 0;
}
.page__refference p
{
    margin-bottom: 2em;
}
.page__samoobsluzna_pradelna > p
{
    margin-bottom: 2em;
}
.page__venkovni_plochy > p
{
    margin-bottom: 2em;
}
.page__hasicska_zbrojnice > p
{
    margin-bottom: 2em;
}
.reference__img > p
{
    position: absolute;
    text-decoration: none;
    color: black;
    margin: 0;
    text-align: center;
    width: 100%;
}
.ref__description__header
{
    bottom: -2em;
    font-weight: 700;
    font-size: 1.5em;
}
.ref__description__description
{
    bottom: -5em;
}

/* TABLET */
@media (min-width: 768px)
{

    .name__container > h1, span
    {
        font-size: 3em;
    }
    .information-text h1
    {
        text-align: center;
    }
    .index-figure h2
    {
        text-transform: uppercase;
    }
    .footer__p
    {
        font-size: 2em;
    }
    .index-footer > p:nth-child(2)
    {
        font-size: 1.25em;
    }
    .index-reference__text
    {
        font-size: 2.5em;
    }

}


/* NOTEBOOK */
@media screen and (min-width: 1024px)
{
    .footer__p
    {
        font-size: 4em;
    }
    .index-footer > p:nth-child(2)
    {
        font-size: 1.5em;
    }


    .reference__img > p
    {
        display: none;
        color: white
    }
    .reference__img:hover > p
    {
        display: block
    }

    .ref__description__header
    {
        top: 35%;
    }
    .ref__description__description
    {
        top: 50%;
    }

}

/* PC */
@media screen and (min-width: 1280px)
{
    
}